<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>500 Server Error.</title>
</head>
<body>
<div id='root'>
  <div id='head'>
    <div class='pad1'>
    </div>
  </div>
  <div id='content'>
    <div class='pad'>
      <h1>500 Server Error.</h1>
      <p>Извините, произошла ошибка. Подождите несколько минут и попробуйте еще раз выполнить операцию.</p>
    </div>
  </div>
  <div id='nav'>
    <div class='pad3'></div>
  </div>
  <div id='wrapper'></div>
</div>
<div id='footer'>
  <div class='pad2'>
  </div>
</div>
</body>
</html>
